<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="box1">
        <table class="table table-bordered">
        	<thead>
        		<tr>
        			<th>ジャンル検索</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<th>each文で回す</th>
        		</tr>
        	</tbody>
        </table>
      </div>
    </div>
    <div class="col-md-9">
      <div class="box2">
        <p>ようこそ、NaganoCakeへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが,<br>
         購入には会員登録が必要になります</p>
      </div>
      <h3>オススメ商品</h3>
      <div class="container">
          <div class="low">
            <div class="col-md-2">
              <div class="box3">
                <p>img</p>
              </div>
              <p>ppp</p>
            </div>
            <div class="col-md-2">
              <div class="box3">
                <p>img</p>
              </div>
              <p>ppp</p>
            </div>
            <div class="col-md-2">
              <div class="box3">
                <p>img</p>
              </div>
              <p>ppp</p>
            </div>
            <div class="col-md-2">
              <div class="box3">
                <p>img</p>
              </div>
              <p>ppp</p>
            </div>
          </div>
        </div>
        <p style="text-align:right;">もっと見る</p>
      </div>
    </div>
  </div>

</div>