<div class="container">
  <div class="row">
    <h2><span>注文履歴詳細</span></h2>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h3>購入者</h3>
    </div>
    <div class="col-xs-4">
      <%= @customer.last_name %>
    </div>
  </div>
</div>