<div class="container" style="text-align:center;">
  <div class="row">
    <h1>About</h1>
    <div class="sentence" style="text-align:center;">
     <p>ながのCakeは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。</p>
    </div>
  </div>
  <div class="row">
    <div class="about-box">
      <div class="about-box-child" style="text-align:center;">
        <p>aｂｂ</p>
      </div>
    </div>
  </div>
</div>