<div class="container">
  <div class="row">
    <div class="text1">
      <p><span>マイページ</span></p>
    </div>
    <div class="col-mg-3">
      <h2>登録情報</h2>
    </div>
    <div class="col-mg-3">
      <p>編集する</p>
    </div>
    <div class="col-mg-3">
      <p>パスワードを変更する</p>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
    	<tbody>
    		<tr>
    			<th>氏名</th>
    			<td>frstnamae</td>
    		</tr>
    		<tr>
    			<th>氏名</th>
    			<td>frstnamae</td>
    		</tr>
    		<tr>
    			<th>氏名</th>
    			<td>frstnamae</td>
    		</tr>
    		<tr>
    			<th>氏名</th>
    			<td>frstnamae</td>
    		</tr>
    		<tr>
    			<th>氏名</th>
    			<td>frstnamae</td>
    		</tr>
    	</tbody>
    </table>
  </div>
</div>