<div class="container">
  <div class="row">
    <h2><span>会員一覧</span></h2>
  </div>
  <div class="row">
    <table class="table">
    	<thead>
    		<tr>
    			<th>会員ID</th>
    			<th>氏名</th>
    			<th>メールアドレス</th>
    			<th>ステータス</th>
    		</tr>
    	</thead>
    	<tbody>
    	  <% @customers.each do |customer| %>
    	  <% name = customer.first_name + customer.last_name %>
    		<tr>
    			<th><%= customer.id %></th>
    			<td><%=link_to name, admin_customer_path(customer.id) %></td>
    			<td><%= customer.email %></td>
    			<td>
    			  <% if customer.is_deleted == true %>
    			    <p>退会済み</p>
    			  <% else %>
    			    <p>有効会員</p>
    			  <% end %>
    			</td>
    		</tr>
    		<% end %>
    	</tbody>
    </table>
  </div>
</div>