<%# link_to "ログアウト", destroy_admin_session_path, class: "glyphicon glyphicon-log-out", method: :delete %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text1">
        <h2><span>管理者画面</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2>本日の注文数</h2>
    </div>
    <div class="col-xs-6">
      <h2>（未）件</h2>
    </div>
  </div>
</div>
